$color-primary: #1F78FF;
$color-danger: #FF4C4C;
$color-info: #999999;
$color-warning: #339AFF;
$color-success: #40D659;
$button-font-size: 14px;
$default-font-color: #1A1A1A;

/* 改变主题色变量 */
$--color-primary: $color-primary;
$--color-danger: $color-danger;
$--color-info: $color-info;
$--color-warning: $color-warning;
$--color-success: $color-success;

/* 按钮 */
$--button-small-font-size: $button-font-size;
$--button-mini-font-size: $button-font-size;
$--button-default-border-color: #E6E6E6;
$--button-default-font-color: $default-font-color;

/* 选项卡(tabs) */
$--tab-header-color: $default-font-color;

/* 对话框(dialog) */
$--dialog-title-font-size: 18px;
$--dialog-content-font-size: 16px;

/* 表格(table) */
$--table-row-hover-background-color: rgba(0, 0, 0, .05);
$--table-header-background-color: #F5F5F5;
$--table-header-font-color: $default-font-color;
$--table-border-color: #E6E6E6;
$--table-font-color: #4d4d4d;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/* 按钮(button) */
.el-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 72px;
  padding: 0 12px;
  box-sizing: border-box;
  white-space: nowrap;
  &.el-button--text {
    min-width: initial;
    padding: 0;
  }
  &>span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &>i[class*='el-icon'] {
    font-size: 16px;
    vertical-align: middle;
    &+span{
      margin-left: 4px;
      vertical-align: middle;
    }
  }
  &.el-button--medium{
    height: 36px;
  }
  &.el-button--small{
    height: 32px;
  }
  &.el-button--mini{
    height: 28px;
  }
  &.el-button--default{
    &:hover{
      border:1px solid rgba(31, 120, 255, 0.4);
    }
    &:active{
      border: 1px solid $color-primary;
    }
  }
  &.el-button--danger{
    &:hover{
      border:1px solid rgba(255, 76, 76, .4);
    }
    &:active{
      border: 1px solid rgba(255, 76, 76, .4);
    }
  }
  &.el-button--ghost{
    color:$default-font-color;
    border: transparent;
    &:hover{
      background:rgba(31, 120, 255, 0.1);
      color:$color-primary;
    }
    &:active{
      background:rgba(31, 120, 255, 0.2);
      color:$color-primary;
    }
  }
  &.el-button--ghost-red {
    color: $default-font-color;
    border: transparent;
    &:hover{
      background:rgba(255, 76, 76, .1);
      color: $color-danger;
    }
    &:active{
      background: rgba(255, 76, 76, .1);
      color: $color-danger;
    }
    &:focus{
      background: rgba(255, 76, 76, .1);
      color: $color-danger;
    }
  }
}

/* 标签(tag)*/
.el-tag{
  height: 24px;
  line-height: 23px;
  padding: 0 8px;
  &>i[class^='el-icon']{
    margin-left: 4px;
  }
  & .el-icon-close::before{
    transform: translate(-.5px, 1px);
  }
  // 次要标签
  &.el-tag--minor{
    background: #f5f5f5;
    color:#999;
    border: 1px solid #f5f5f5;
    &.el-tag--light{
      background:rgba(153,153,153,0.1);
      border:1px solid rgba(153,153,153,0.2);
    }
    &.el-tag--plain{
      background:#fff;
      border:1px solid rgba(153,153,153,0.2);
    }
  }
  // 反色标签
  &.el-tag--invert{
    color:#fff;
    border: transparent;
    background:rgba(255,255,255,0.1);
    &.el-tag--light{
      border:1px solid rgba(255,255,255,0.4);
    }
    &.el-tag--plain{
      border:1px solid #fff;
    }
  }
}

/* 选项卡(tabs)*/
.el-tabs{
  // padding: 0 18px;
  .el-tabs__active-bar{
    border-radius: 1px;
  }
  .el-tabs__item{
    padding: 0 18px;
    height: 32px;
    line-height: 24px;
    font-size: 16px;
  }
  .el-tabs__nav-wrap::after{
    display: none;
  }
  &[size='small'] .el-tabs__item{
    height: 26px;
    line-height: 20px;
    font-size: 14px;
    padding: 0 12px;
  }
  &.small-tabs .el-tabs__item {
    height: 28px;
    font-size: 14px;
  }
  &.small-tabs {
    padding-left: 0;
  }
}

/* 对话框(dialog) */
.el-dialog{
  border-radius: 4px;
  max-height: 89.9vh;
  margin-top: 0 !important;
  top: 50%;
  transform: translateY(-50%);
  .el-dialog__header{
    border-radius: 4px 4px 0 0;
    height: 68px;
    line-height: 68px;
    padding: 0 20px;
    background: #f5f5f5;
    color:#4d4d4d;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;
    .el-dialog__headerbtn{
      top: 22px;
      font-size: 24px;
    }
  }
  .el-dialog__body{
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
    max-height: calc(89vh - 130px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb{
      background: #c0c0c0;
      border-radius: 4px;
      width: 8px;
      height: 8px;
    }
  }
  .el-dialog__footer{
    .el-button{
      height: 32px;
    }
  }
  .el-dialog__close {
    color: #4D4D4D;
  }
}

.el-select {
  // 多选框选项样式
  & > .el-select__tags .el-tag{
    background-color: #f0f2f5;
    color:#909399;
    .el-tag__close{
      color:#909399;
      background-color: #c0c4cc;
      &:hover{
        color:#fff;
        background-color: #909399;
      }
    }
  }
}

.el-radio-button--mini{
  .el-radio-button__inner{
    height: 28px;
    padding: 6px 15px;
  }
}

.el-table__row.hover-row {
  // background-color: #E5E5E5;
}

.el-table__fixed-right-patch {
  background-color: #F5F5F5;
}

.el-divider{
  background: #e6e6e6;
}
//.el-popover--plain {
//  padding: 0;
//}
//.el-popover {
//  padding: 0;
//}

.el-dialog__body {
  padding: 20px;
  .el-form-item:last-child {
    margin-bottom: 0;
  }
}
.el-dialog__footer {
  margin-top: 20px;
  padding: 0 20px 20px;
}
.el-dialog__header {
  font-weight: bold;
}
.el-notification {
  padding: 16px;
}
.el-notification__group {
  margin: 0;
}
.el-notification__content {
  margin: 0;
}
.el-message-box__wrapper {
  z-index: 10000000 !important;
  .el-message-box {
    padding-bottom: 0;
    .el-message-box__header {
      padding: 20px 20px 0;
      .el-message-box__title {
        font-weight: bold;
      }
    }
    .el-message-box__content {
      padding: 20px;
    }
    .el-message-box__btns {
      padding: 0 20px 20px;
    }
  }
}

.v-modal {
  opacity: .8;
}
